<% include ../partials/boilerplate %>

<div class="addVendor">
  <form method="POST" action="/auth/vendor">
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <input type="email" name="email" placeholder="Email" />
    <input type="text" name="location" placeholder="Address" />
    <input type="text" name="hhHours" placeholder="Happy Hour Hours" />
    //add img url
    //connect menue
    <input type="submit" value="Register" />
  </form>
</div>

<% include ../partials/end %>
