<% include ../partials/boilerplate %>

<div class="addVendor">
  <form method="POST" action="/">
    <input type="text" name="name" placeholder="Venue Name" />
    <input type="text" name="hours" placeholder="Hours of Opperations" />
    <input type="text" name="img" placeholder="Img URL" />
    <input type="text" name="location" placeholder="Address" />
    <input type="text" name="specials" placeholder="Happy Hour Deals/Details" />
    <input type="submit" value="add" />
  </form>
</div>

<% include ../partials/end %>
