<header>
  <div class="logo">
    <h1>NYC Happy Hours</h1>
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/hh">All Happy Hours</a></li>
      <li><a href="/hh/new">Add New Vendor</a></li>
      <% if (auth) { %>
        <li><a href="/user">Dashboard</a><li>
        <li><a href="/auth/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/auth/register">Register</a></li>
        <li><a href="/auth/login">Login</a></li>
      <% } %>
    </ul>
  </nav>
</header>
