body {
  font-family: 'Lobster', cursive;
  background-color: #3C485E;
  color:  #FDF5E6;
}
h1{
  font-size: 50px;
  margin: 15px;
  border: 10px;
  padding:10px;
  text-align: center;
}


header {
  display: flex;
  padding: 15px 80px;
  justify-content: space-between;
  align-items: flex-end;
}

nav ul {
  display: flex;
}

nav ul li a {
  padding: 0 1px;
  text-decoration: none;
  color: #555;
  transition: 0.2s all;
}

nav ul li a:hover {
  color: red;
}

nav ul li a:hover {
  color: red;
}
img {
    max-width: 100%;
    height: auto;
}

.hh-container {
  width: 80vw;
  max-width: 1000px;
  margin: 15px auto;
  box-sizing: border-box;
  height: auto;
}

.hh {
  display: flex;
  flex-direction: column;
  border: 2px solid #FDF5E6;
  margin: 15px;
  font-family: 'Signika', sans-serif;

}
.nav{
  padding: 0 1px;
  text-decoration: none;
  color: #555;
  transition: 0.2s all;
}

.delete {
    border: 2px;
    color: white;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.edit a {
  color: #FDF5E6;
  text-decoration: none;
}
.edit a:hover {
  color: red;
}
img {
    width: 100%;
    height: auto;

}
.hh h3 {
  font-size: 1.5em;
  padding: 25px;
  font-family: 'Signika', sans-serif;
}


form input[type=text], form input[type=number], form input[type=email], form input[type=password] {
  border: 0;
  border-bottom: 3px solid #eee;
  font-size: 1.7em;
  margin: 20px 0;
  padding: 5px;
  display: block;
  width: 100%;
  transition: 0.3s;
}

