<% include ../partials/boilerplate %>

<div class="add">
  <form method="POST" action="/todos">
    <input type="text" name="title" placeholder="Title" />
    <input type="text" name="description" placeholder="Description" />
    <input type="text" name="category" placeholder="Category" />
    <div class="radio">
      <input type="radio" name="status" value="TRUE" />
      <label>Complete</label>
    </div>
    <div class="radio">
      <input type="radio" name="status" value="FALSE" />
      <label>Incomplete</label>
    </div>
    <input type="submit" value="Add New Vendor" />
  </form>
</div>

<% include ../partials/end %>
